.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  width: 80px;
  height: 80px;
  background-color: rgb(7, 123, 161);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: white;
  font-size: 30px;
}